button:active{
    transform: translateY(2px);
}

.btn_default{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
    }
}

.btn_disabled{
    filter: brightness(77%);
    &:active{
        transform: translateY(0px);
    }
}

.btn_img {
    margin-right: 10px;
}
