@import "../../styles/variables.scss";

button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

button:focus-visible {
    border: 0;
    outline: none;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-container {
  display: flex;
  gap: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: $greyLight;
  cursor: pointer;
}

.tooltip-container {
  position: absolute;
  height: 0;
  top: 50px;
  display: flex;
  overflow: hidden;
  padding: 10px;
  animation-name: tooltip;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes tooltip {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.info-container:last-child {
  color: $danger;
}

.notification {
  position: relative;
  &__image {
    width: 12px;
    height: 16px;
    @media (max-width: 480px) {
      width: 16px;
    }
  }
}

.have-notifications {
  &::after {
    position: absolute;
    right: -5px;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: solid 1px $white;
    background-color: $warning;
    z-index: 5;
  }
}

.separator {
  height: 20px;
  width: 1px;
  background-color: $greyLight;
}

.role {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 14px;
  padding-right: 20px;
  box-sizing: border-box;
  cursor: pointer;
  &::after {
    position: absolute;
    right: 2px;
    top: 50%;
    content: "";
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border: solid 1px $inverse-greyLightest;
    @media (max-width: 480px) {
      border-color: $whiteish;
    }
    border-top: none;
    border-left: none;
    transition: 0.2s;
  }
}

.clicked {
  &:after {
    transform: rotate(-135deg);
  }
}

.role-text {
  color: $greyLight;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .role {
    div {
      color: $whiteish;
    }
    .role-text {
      color: rgba(255, 255, 255, 0.35);
    }
  }
}