@import "../../../styles/variables.scss";

.container {
  box-sizing: border-box;
  max-width: 1060px;
  height: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  background-color: #fefefe;
  box-shadow: 0px 5px 20px 0px #12263f0d inset;
  padding: 10px 20px;
  margin-bottom: 7px;
  border: 1px solid #fefefe;
  border-radius: 3px;

  &__dark {
    background-color: $darkTheme;
    box-shadow: 0px 0px 10px 0px $white inset;
  }
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: $medium-blue;
  margin: 0;
  margin-bottom: 5px;
}

.text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  &__dark {
    color: $white;
  }
}

.topic-info {
  display: grid;
  grid-template-columns: 1fr 1fr 0.4fr;

  &__wrapper {
    display: flex;
    align-items: center;
  }
}

.topic-info div::before {
  content: "";
  display: block;
  height: 20px;
  width: 1.5px;
  margin-right: 20px;
  margin-left: 5px;
  background-color: $greyLight;
}

.topic-image {
  margin-right: 10px;
}
