@import "../../styles/variables.scss";

.container-margin {
  margin: 60px 150px 0;
}

@media (max-width: 480px) {
  .container-margin {
    margin: 0;
  }
}

.container-centred {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
}

.container-switcher {
  align-self: flex-end;
  margin: 50px 0 100px;
}

@media (max-width: 480px) {
  .container-switcher {
    align-self: flex-start;
    margin: 20px 0 -20px 20px;
  }
}

.separator {
  width: 100%;
  height: 2px;
  background-color: $greyLight;
  margin-bottom: 70px;
}

.inverse-separator {
  width: 100%;
  height: 2px;
  background-color: $inverse-greyLight;
  margin-bottom: 70px;
}
