@import "../styles/variables.scss";

.container {
  position: relative;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

.theme {
  display: flex;
  margin: 0;
  gap: 5px;
  &__text {
    margin: 0;
  }
}

.light {
  background-color: $white;
  transition: 0.3s;
}

.dark {
  background-color: $darkTheme;
  transition: 0.3s;
}
