@import "../../../styles/variables.scss";
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid $greyBg;
    background-color: transparent;
    color: $greyDark;
    cursor: pointer;
    transition: background-color 0.2s;
  
    &:hover {
      background-color: #f0f0f0;
    }
  
    &.active {
      background-color: $blue;
      color: $greyBg;
    }
  }
  
  .moreDots {
    margin: 0 5px;
    font-size: 18px;
    color: $greyDark;
  }