@import '../../../styles/variables.scss';
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    color: $white;
    font-size: 20px;
    line-height: 28px;
    background-color: $grey;
}
